@import "tailwindcss";
@plugin "daisyui";

 .btn-custom {
  color: #004D00;
  background-color: yellowgreen;
 }
 .menu-custom{
  background-color: lightgreen;
 }

body{
  color: #004D00;
}

li{
  padding: 2px;
}